name: e2e
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      HTTPS_PREFIX: ${{ secrets.https_prefix }}
    steps:
      - name: setup
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: checkout
        uses: actions/checkout@v2
      - name: use token
        run: git config --global url."https://"${{ secrets.https_prefix }}"github.com/".insteadOf "git@github.com:"
      - name: clone deps
        run: cd demo && make clone
      - name: build cli
        run: cd demo && make build_cli
      - name: test
        run: cd demo && make test
