name: test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: setup
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.x
      - name: checkout
        uses: actions/checkout@v2
      - name: test
        run: go test ./...
        env:
          POSTGRES_PASSWORD: password
    services:
      postgres:
        image: postgres:13.1-alpine
        ports:
          - 5433:5432
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_DB: vault
